<div class="container col-md-6">
    
  <div class="form-group">
    <label for="email">E-mail</label>
    <input [(ngModel)]="usuario.email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="teste@email.com">
  </div>
  <div class="form-group">
    <label for="senha">Senha</label>
    <input [(ngModel)]="usuario.senha" type="password" class="form-control" id="senha" placeholder="******">
  </div>
  <button type="submit" class="btn btn-primary" (click)="fazerLogin()">Login</button>

</div>