<div class="container">
    <form >
        <div class="form-group">
            <label for="validationTooltip01">Título</label>
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
              <option selected>Escolha a história...</option>
              <option value="1">História 1</option>
              <option value="2">História 2</option>
              <option value="3">História 3</option>
            </select>
          </div>
        <div class="form-group">
          <label for="validationTooltip01">Nome do Capítulo</label>
          <input type="text" class="form-control" id="validationTooltip01" placeholder="Nome do capítulo" required>
        </div>
        <div class="form-group">
            <label for="validationTooltip01">Número do capítulo</label>
            <input type="text" class="form-control" id="validationTooltip01" placeholder="Número do capítulo" required>
          </div>
        <div class="form-group">
          <label for="validationTooltip01">Páginas do capítulo</label>
          <div class="custom-file">
            <input type="file" accept="image/jpeg, image/png" class="custom-file-input" id="customFile" multiple>
            <label class="custom-file-label" for="customFile">Escolher Páginas</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Publicar Capítulo</button>
      </form>
</div>