<div class="menu-left">
    <div class="row">
        <div class="col-12">
            <div class="list-group left-menu-border" id="list-tab" role="tablist">
                <a #lista *ngFor="let categoria of categorias" class="list-group-item list-group-item-action" [ngClass]="categoria.id == categoriasService.alteraLeftMenu ? 'active' : ''" [id]="categoria.id" data-toggle="list" role="tab" [routerLink]="['/categoria', categoria.id ]">{{categoria.categoria}}</a>
            </div>
        </div>
    </div>
</div>




