<div class="contaier">
  <div class="secao">
    <h3>Histórias</h3>
  </div>
  <div class="row" style="margin-bottom: 50px">
    <div class="col-sm-4" *ngFor="let historia of historias">
      <div class="card">
        <img class="card-img-top" [src]="historia.capa[0].url">
        <div class="card-block">
          <h4 class="card-title">{{ historia.titulo }}</h4>
          <p class="card-text">{{ historia.sinopse }}</p>
          <p class="autor">{{ historia.autor }}</p>
          <a [routerLink]="['/lerHistoria', historia.id]" class="btn btn-outline-primary">Abrir história</a>
        </div>
      </div>
    </div>
  </div>
  <hr />
</div>